CompileFlags:
  CompilationDatabase: .pio/build/esp32dev/
  Remove:
    - -fno-tree-switch-conversion
    - -fno-builtin-stpcpy
    - -fno-builtin-bzero
    - -mdisable-hardware-atomics
    - -fstrict-volatile-bitfields
    - -I/Users/oguzgundogdu/.platformio/packages/toolchain-xtensa-esp-elf/picolibc/include
  Add:
    - '-DWIFI_SSID="placeholder"'
    - '-DWIFI_PASSWORD="placeholder"'
    - '-DHA_WEBHOOK_URL="http://placeholder"'
    - -Wno-unknown-warning-option
    - -Wno-unused-command-line-argument
Diagnostics:
  UnusedIncludes: None
  Suppress:
    - drv_unknown_argument
